<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
      <div class="danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
        Email is required!
      </div>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
      <div class="danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
        Password is required!
      </div>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
        <a [routerLink]="['/registration']" class="small-text">Sign Up</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
