<ion-header>
	<ion-toolbar>
		<ion-title>Todo's</ion-title>
		<ion-buttons slot="primary">
			<ion-button (click)="openModal()">
				<ion-icon slot="icon-only" name="add-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ion-list lines="none" *ngIf="todos?.length; else noTodos">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-item [class.checked]="todo.complete" *ngFor="let todo of todos">
        <ion-button class="checkbox-icon" color="dark" fill="clear" slot="start" (click)="markComplete(todo)">
          <ion-icon slot="start" [name]="todo.complete ? 'checkbox-outline' : 'square-outline'"></ion-icon>
        </ion-button>
        <ion-label>{{ todo.name }}</ion-label>
        <ion-button class="delete-icon" fill="clear" slot="end" (click)="openModal(todo)">
          <ion-icon color="danger" slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button class="delete-icon" fill="clear" slot="end" (click)="deleteTodo(todo._id || '')">
          <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
	</ion-list>
	<ng-template #noTodos>
		<p>The list of TODOs is empty!</p>
	</ng-template>
</ion-content>
